#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Install main executable
	install -D -m 755 usr/bin/hardn $(DESTDIR)/usr/bin/hardn
	
	# Install modules
	install -d $(DESTDIR)/usr/share/hardn/modules
	install -m 644 usr/share/hardn/modules/*.sh $(DESTDIR)/usr/share/hardn/modules/
	
	# Install configuration files
	install -d $(DESTDIR)/etc/hardn
	install -m 644 usr/share/hardn/configs/*.conf $(DESTDIR)/etc/hardn/
	
	# Install templates
	install -d $(DESTDIR)/usr/share/hardn/templates
	install -m 644 usr/share/hardn/templates/* $(DESTDIR)/usr/share/hardn/templates/
	
	# Install documentation
	install -d $(DESTDIR)/usr/share/doc/hardn
	install -m 644 docs/*.md $(DESTDIR)/usr/share/doc/hardn/
	
	# Install systemd service files
	install -d $(DESTDIR)/lib/systemd/system
	install -m 644 systemd/*.service $(DESTDIR)/lib/systemd/system/
	
	# Create log directory
	install -d $(DESTDIR)/var/log/hardn

override_dh_systemd_enable:
	dh_systemd_enable --name=hardn-monitor hardn-monitor.service

override_dh_systemd_start:
	dh_systemd_start --name=hardn-monitor hardn-monitor.service