#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Install main executable
	install -D -m 755 usr/bin/hardn $(CURDIR)/debian/hardn-xdr/usr/bin/hardn
	
	# Create hardn-xdr symlink for compatibility
	ln -sf hardn $(CURDIR)/debian/hardn-xdr/usr/bin/hardn-xdr
	
	# Install man page
	install -D -m 644 hardn.1 $(CURDIR)/debian/hardn-xdr/usr/share/man/man1/hardn.1
	
	# Install modules
	install -d $(CURDIR)/debian/hardn-xdr/usr/share/hardn/modules
	install -m 644 usr/share/hardn/modules/*.sh $(CURDIR)/debian/hardn-xdr/usr/share/hardn/modules/
	
	# Install configuration templates
	install -d $(CURDIR)/debian/hardn-xdr/usr/share/hardn/templates
	install -m 644 usr/share/hardn/templates/* $(CURDIR)/debian/hardn-xdr/usr/share/hardn/templates/
	
	# Install documentation
	install -d $(CURDIR)/debian/hardn-xdr/usr/share/doc/hardn-xdr
	install -m 644 docs/*.md $(CURDIR)/debian/hardn-xdr/usr/share/doc/hardn-xdr/ || true
	install -m 644 README.md $(CURDIR)/debian/hardn-xdr/usr/share/doc/hardn-xdr/
	install -m 644 docs/changelog.md $(CURDIR)/debian/hardn-xdr/usr/share/doc/hardn-xdr/
	
	# Install systemd service files
	install -d $(CURDIR)/debian/hardn-xdr/lib/systemd/system
	install -m 644 systemd/*.service $(CURDIR)/debian/hardn-xdr/lib/systemd/system/
	
	# Create directories
	install -d $(CURDIR)/debian/hardn-xdr/etc/hardn
	install -d $(CURDIR)/debian/hardn-xdr/var/log/hardn
	install -d $(CURDIR)/debian/hardn-xdr/var/lib/hardn/backups